{
{% for vlan in vlans %}
  {# 1. Delete the bridge interface first #}
  echo '{{ host_sudo_passwd }}' | sudo -S ip link del br{{ vlan }}

  {# 2. Delete the bridge interface yaml file from /etc/netplan/ next #}
  echo '{{ host_sudo_passwd }}' | sudo -S rm /etc/netplan/{{ vlan }}.yaml
{% endfor %}

  {# 3. Neplan apply to make all changes effect at once #}
  echo '{{ host_sudo_passwd }}' | sudo -S netplan apply
}
