try {
  # Set the script to stop at the first error
  $ErrorActionPreference = "Stop"
  $VMName = "{{ vm_identifier }}"
  Stop-VM -Name $VMName
  Write-Host "$VMName Successfully Quiesced."
} catch {
  Write-Error "VM failed to quiesce. Error Message: $_.Exception.Message"
}
