try {
  # Set the script to stop at the first error
  $ErrorActionPreference = "Stop"
  $VMName = "{{ vm_identifier }}"
  Start-VM -Name $VMName
  Wait-VM -Name $VMName -For IPAddress
  Write-Host "$VMName Successfully Rebooted."
} catch {
  Write-Error "VM failed to restart. Error Message: $_.Exception.Message"
}
