{% extends "emails/base.j2" %}

{% block title %}An error occurred while Backing-Up your VM "{{ name }}".{% endblock %}

{% block content %}
<p>The NOC have been notified and will be in contact shortly.</p>
<p>We apologise for any inconvenience caused.</p>
{% endblock %}
